.registration-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
}

.registration-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registration-title {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.registration-input {
  color: black;
  box-sizing: border-box;
  background-color: #f3f4f6;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.registration-button {
  width: 100%;
  padding: 10px;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.registration-button:hover {
  background-color: #059669;
}
